h1 {
	font-family: 'Work Sans', sans-serif;
	font-size: 60pt;
	margin-top: 0;
}

h2 {
	font-family: 'Raleway', sans-serif;
	margin-top: 85px;
	margin-left: 50px;
}

h1, h2 {
	position: absolute;
}

.wrapper {
	text-align: center;
	margin-right: 550px;

}

.startButton {
    background-color: white;
    opacity: 0.5;
    color: black;
    border: 2px solid #e7e7e7;
    position: absolute;
	bottom: 50%;
    font-size: 100px;
    cursor: pointer;
    font-family: "Raleway", sans-serif;
    border-radius: 8px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}


.startButton:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    opacity: 0.75;
    }

.startButton:checked {
	display: block;
}


.frog {
	position: absolute;
	bottom: 50px;
	left: 200px;

}

.fly1 {
	position: absolute;
	bottom: 50px;
	right: 0px;
	-webkit-animation: moveFly 2s infinite  normal ease-out;
}

.fly2 {
	position: absolute;
	bottom: 150px;
	right: 0px;
	-webkit-animation: moveFly 4s infinite  normal ease-out;
	animation-delay: 1s;
}

.fly3 {
	position: absolute;
	bottom: 250px;
	right: 0px;
	-webkit-animation: moveFly 5s infinite  normal ease-out;
	animation-delay: 2s;
}

.fly4 {
	position: absolute;
	bottom: 350px;
	right: 0px;
	-webkit-animation: moveFly 3s infinite  normal ease-out;
	animation-delay: 3s;
}

@-webkit-keyframes moveFly {
    0% {right:0%;}
    10% { right:10%;}
    20% { right: 20%; }
    30% { right: 30%; }
    40% { right: 40%; }
    50% { right: 50%; }
    60% { right: 60% }
    70% { right: 70% }
    80% { right: 80% }
    90% { right: 90% }
    100% { right: 100%;
    }
}
